<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <link rel="shortcut icon" href="${constants.getString("static_url")}favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8">
  <title>${title}</title>
  <script type="text/javascript">
    var BASE_URL = "${constants.getString("base_url")}";
    var STATICS_URL  = "${constants.getString("static_url")}";
    var CSRF = "${constants.getString("csrf.secret")}";
    var CSRF_KEY = "${constants.getString("csrf.key")}";
  </script>
  <!-- Inicio Load_CSS-->
  ${load_css}
  <!-- Fin CSS-->
<body>
<!-- Modal -->
<button type="button" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#modalContent" id="btnModal">Launch demo modal</button>
<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<!--! Modal -->
<!-- Header y Nav -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
    <img src="${constants.getString("static_url")}assets/img/CanchasLogo-OneLineWhite.png" height="30" width="144" class="brand" alt="ConsultingYa-Login">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <#list menu_left as item>
        <#if url == item.getString("url")>
          <li class="nav-item">
            <a class="nav-link active" href="${constants.getString("base_url")}${item.getString("url")}">
              ${item.getString("name")}
            </a>
          </li>
        <#else>
          <li class="nav-item">
            <a class="nav-link" href="${constants.getString("base_url")}${item.getString("url")}">
              ${item.getString("name")}
            </a>
          </li>
        </#if>
      </#list>
    </ul>
    <ul class="navbar-nav ml-auto">
      <#list menu_right as item>
      <li class="nav-item">
        <#if url == item.getString("url")>
          <li class="nav-item">
            <a class="nav-link active" href="${constants.getString("base_url")}${item.getString("url")}">
              ${item.getString("name")}
            </a>
          </li>
        <#else>
          <li class="nav-item">
            <a class="nav-link" href="${constants.getString("base_url")}${item.getString("url")}">
              ${item.getString("name")}
            </a>
          </li>
        </#if>
      </li>
      </#list>
    </ul>
  </div>
</nav>
<!-- /. Header y Nav -->